:root {
    --color-fondo: #2c3e50;
    --color-tablero: #3498db;
    --color-jugador1: #e74c3c;
    --color-jugador2: #f1c40f;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor-principal {
    text-align: center;
}

.titulo-juego {
    font-size: 3em;
    margin-bottom: 20px;
}

#mensaje-estado {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#tablero-juego {
    background-color: var(--color-tablero);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.fila {
    display:flex;
    gap:5px;
    margin: 5px;
}

.celda {
    width: 60px;
    height: 60px;
    background-color: #ecf0f1;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.celda:hover {
    transform: scale(1.05);
}

/* Estilos para las fichas de los jugadores */
.celdaJ1{
    background-color: var(--color-jugador1);
}

.celdaJ2 {
    background-color: var(--color-jugador2);
}

.controles-juego {
    margin-top: 20px;
}

#boton-reiniciar {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #2ecc71;
    color: white;
    transition: background-color 0.3s ease;
}

#boton-reiniciar:hover {
    background-color: #27ae60;
}

#controles-columnas {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-bottom: 10px;
}

.boton-columna {
    padding: 10px 5px;
    font-size: 0.8em;
    cursor: pointer;
    border: 1px solid #3498db;
    border-radius: 5px;
    background-color: #2c3e50;
    color: white;
    transition: background-color 0.3s ease;
}

.boton-columna:hover {
    background-color: #34495e;
}